.classpath
.project
.settings/
.idea/

*.class

/bin

Coedil99/target
Coedil99/target/
Coedil99/target/*
Coedil99/target/**
/Coedil99/target
/Coedil99/target/
/Coedil99/target/*
/Coedil99/target/**
/target
target/
*/target/*
*/target/**